* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #eee;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  max-width: 768px;
  min-width: 375px;
  padding: 20px;
  background-color: #fff;
}

.header a {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 70px;
  height: 70px;
}

.header a img {
  height: 60px;
  width: 60px;
  background-color: transparent;
}

.header nav img {
  padding: 10px;
  height: 50px;
  width: 60px;
}

.header nav ul{
  display: none;
}

main {
  max-width: 768px;
  min-width: 375px;
}

/* Home section */
.home {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 85vh;
  background: url(images/background-image.png);
  background-repeat: no-repeat;
  background-size: 100% 85vh;
  padding: 30% 10% 10% 10%;
  gap: 15px;
  border-bottom-left-radius: 100px;
  background-color: #fff;
}

.home h1 {
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  color: #172b4d;
}

.home p {
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.home h2 {
  font-size: 18px;
  line-height: 24px;
  color: #7f8cff;
}

.icons {
  width: 50%;
  height: 30px;
  display: flex;
  list-style: none;
  gap: 10px;
}

.icons li,
.icons li a,
.icons li a img {
  width: 25px;
  height: 25px;
}


@media screen and (min-width: 768px)  {
  .header{
    max-width: 100%;
    padding:  30px 10%;
  }

  .header nav img{
    display: none;
  }

  .header nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
  }

  .header nav ul li:hover{
    transform: scale(1.5);
  }

  main{
    max-width: 100%;
  }

  .home{
    justify-content: center;
    gap: 25px;
    background: url('images/desktop-image-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 85vh;
    background-color: #fff;
    border-bottom-left-radius: 200px;
    padding: 0 10%;
  }

    .home h1 {
      font-size: 48px;
      line-height: 60px;
      letter-spacing: 0.37px;
      width: 70%;
    }

  .home p{
    font-size: 20px;
    line-height: 28px;
  }

  .home h2 {
    font-weight: 500px;
    font-size: 16px;
    line-height: 24px;
}

  .home h2:hover{
    transform: translate(20px, -10px)
  }

    .icons {
    width: 50%;
    height: 30px;
    display: flex;
    list-style: none;
    gap: 10px;
  }

  .icons li,
.icons li a,
.icons li a img {
  width: 25px;
  height: 25px;
}

}
/* 
@media screen and (min-width: 768px) and (max-width: 1500px) {
  .home{
    padding: 20% 25% 10% 20%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .home{
    padding: 25% 25% 10% 20%;
  }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
  .home{
    padding: 30% 25% 10% 20%;
  }
} */