* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  height: 10vh;
  max-width: 768px;
  min-width: 375px;
}

.container-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}

.container-logo img {
  padding: 10px;
  height: 70px;
  width: 70px;
}

.container-logo .union {
  padding: 10px;
  height: 50px;
  width: 60px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  height: 90vh;
  background: url(images/background-image.png);
  background-repeat: no-repeat;
  background-size: 100% 90vh;
  background-position: 0 70%;
  max-width: 768px;
  min-width: 375px;
}

.main-text {
  padding-bottom: 10px;
  width: 80%;
}

.main-text h1 {
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  color: #172b4d;
}

.text {
  padding-bottom: 5%;
  width: 80%;
}

.text p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.text,
.text1 {
  padding-bottom: 5%;
  width: 80%;
}

.text1 h2 {
  font-size: 18px;
  line-height: 24px;
  color: #7f8cff;
}

.main-icons {
  width: 80%;
  height: 20px;
}

.icons {
  display: flex;
  height: 20px;
  list-style: none;
}

.icons li {
  height: 20px;
  padding: 10px 10px 10px 0;
}

.icons li a img {
  display: flex;
  left: 0;
  height: 20px;
  width: 20px;
}
